/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    /*position:absolute;             /* position in the center of the screen */
    /*left:50%;
    top:50%;
    height:50px;                   /* text area height */
    /*width:225px;                   /* text area width */
    /*text-align:center;
    /*padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    /*margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
    position: relative;
    margin-bottom: 95px;
	padding: 0 15px;
}

/**
	My custom
**/


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.button{
	border: solid 1px #000;
	padding: 13px 15px;
	display: inline-block;
}

.button.black{
	background-color: #000;
	color: #fff;
}

.button.white{
	background-color: #fff;
	color: #000;
}

ul.menu {
	display: none;
    padding: 0;
    list-style: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
	text-align: justify;
	padding: 8px 14px 0 14px;
    box-shadow: 0px 0px 5px -3px #000;
	box-sizing: border-box;
	background-color: #fff;
	z-index: 9;
}

ul.menu:after{
	content: '';
    display: inline-block;
    width: 99%;
    vertical-align: top;
}

ul.menu li{
	display: inline-block;
	text-align:center;
	padding: 4px;
	font-size: 0.9em;
}

ul.menu li img {
    display: block;
	max-height: 25px;
	margin: auto;
}

form#login-form {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.form-controls input {
    width: 100%;
}

.content {
    position: relative;
    height: 100%;
}

input {
    padding: 8px 10px;
    border: solid 1px #ccc;
    border-radius: 2px;
}

.form-controls {
    margin-bottom: 15px;
}

form#login-form label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 1.3em;
}

input#login {
    text-transform: uppercase;
}

.content .menu-content{
	display: none;
}

.section {
    border-bottom: solid 1px rgba(204, 204, 204, 0.3);
    padding: 35px 0;
}

.section:last-child{
	border: none;
}

.very-big-text {
    font-size: 1.7em;
    margin-bottom: 5px;
}

.big-text {
	font-size: 1.5em;
	margin-bottom: 5px;
}

.head {
    background-color: #000;
    margin: 0 -15px;
    color: #fff;
    padding: 15px 0;
}

ul.menu li.active {
    background-color: #ededed;
}

table.profit-lost-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.profit-lost-table td{
	padding: 3px 10px;
}

.profit-lost-table td.colspan {
    /* color: orange; */
    font-weight: bold;
	padding: 15px 10px;
}

.profit-lost-table td.text-center{
	text-align: center;
}

.profit-lost-table td.gross_villa_revenue,
.profit-lost-table td.total_operating_expenses,
.profit-lost-table td.total_net_profit,
.profit-lost-table td.total_balance{
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.profit-lost-table td.total_net_profit-values {
	font-weight: bold;
}

.filter select {
    padding: 13px 15px;
	    background-color: #fff;
    border: solid 1px #000;
}

.filter {
    text-align: center;
    margin-top: 15px;
}

div#login-content {
    height: calc(100vh - 97px);
}

.listing-list {
    list-style: none;
    padding: 15px 0;
    border-top: solid 1px #cccccc59;
    border-bottom: solid 1px #cccccc59;
	margin-bottom: 50px;
}

.listing-list li{
	display: inline-block;
    text-align: center;
	font-size: 1.2em;
}

.listing-list li img{
	display: block;
	margin-bottom: 5px;
}

.booking-list .section {
    line-height: 22px;
}

.booking-list .section:first-child {
	padding-top: 0;
}

h2.page-sub-title {
    text-align: center;
}

table.calendar {
    width: 100%;
    text-align: center;
	border-collapse: collapse;
	border-color: transparent;
}

table.calendar caption {
    font-size: 1.2em;
    margin-bottom: 25px;
}

table.calendar td.day,
table.calendar th.header {
    padding: 8px;
}

td.past {
    background-color: #f7f7f7;
    color: #969696;
}

td.day.blocked.booking {
    background-color: #333;
    color: #fafafa;
}

td.day.blocked.owner-stay{
	background-color: #777;
	color: #fafafa;
}

span.back-to-booking-list {
    position: absolute;
    left: 15px;
    font-size: 2em;
    line-height: 1em;
}

td.day.selected {
    background-color: #ccc;
}

.date-block-panel {
    text-align: right;
    background-color: #eeeeee;
    padding: 10px 15px;
    margin: 0 -15px;
	display: none;
	position: fixed;
    top: 0;
    width: 100%;
}

.tab-content {
    display: none;
}

.loader-wrapper{
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;

}

.loader-wrapper img{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%);
}

.ota-link {
    text-align: center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        /*background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        /*margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
